@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import 'materialize-css/dist/css/materialize.min.css'; */

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


@layer base {
  body {
      /* @apply bg-slate-50 */
      max-width: 100%; 
      margin: 0;
      padding: 0;
      /* background-color: #F6F8FB  ; /*rgb(252, 252, 252) /* */
      background-color: rgb(253, 254, 255)  ; /*rgb(252, 252, 252) /*
      /* overflow-x: hidden;  */
  }
}

/* ---------------------------------------------------------------------------------- */
.text-nav {
  color:#37474f ;
}
.thai-font{
  font-family: 'Itim', cursive;
  font-weight:400;
  font-size: 1.1em;
}
.btn-nav:hover{
  background-color:rgb(229 231 235);
}

textarea:focus, input:focus{
  outline: none;
}

/* -----------------------------------------------------------------------------------------------*/


.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-spinner {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}