

:root {
  --primary: #ff9b59;
  --white: hsl(0, 0%, 100%);
  --bg: #f5f5f5;
}


::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}


.swiper_container {
  height: 35rem;
  padding: 2.2rem 0;
  position: relative;
}

@media (max-width: 1024px) {
  .swiper_container {
    height: 25rem;
    padding: 2.2rem 0;
    position: relative;
  }
}

.swiper-slide {
  width: 16rem;
  height: 16rem;
  position: relative;
}


.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination {
  position: relative;
  width: 20rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
} 